doctype html
html(lang='en')
  head
    title PANDA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/style.css')
body
    nav.navbar.navbar-expand-md.navbar-dark(style="background:rgb(5, 57, 61);")
        center.a.navbar-brand(href='#',style='text-algin:center;')  PUBLIC DISTRIBUTION SYSTEM
    br 
    h1.text-center(style="color:black;text-decoration:underline;") BLOCKCHAIN TRANSCATION 
    .container-fluid
      .row
          .col-lg-2
              .card.border-dark.mb-2
                ul.list-group.list-group-flush
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='/admin/dashboard/'+aadharno style='color: black;') Transactions
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/logout' style='color: black;') Logout
    
          .col-lg-10
            .card-body
              table.table-sm.table-bordered.table-responsive-md.table.table-success.text-center
                    thead
                        tr
                        th(scope='col') From
                        th(scope='col') To
                        th(scope='col') Product 1
                        th(scope='col') Product 2
                        th(scope='col') Product 3
                        th(scope='col') Hash
                        th(scope='col') Date/Time   
                    tbody
                        each val in transactions
                            tr
                                td= val.data.from
                                td= val.data.to
                                td= val.data.rice
                                td= val.data.wheet
                                td= val.data.sugar
                                td= val.hash
                                td= val.timestamp

    footer.footer.mt-auto.py-4
        .container
            span.text-muted © Event Organiser 2020 All Rights are Reserved Design by PANDA Group OF JDANS.