doctype html
html(lang='en')
  head
    title PANDA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/style.css')
body
    nav.navbar.sticky-top.navbar-expand-md.navbar-dark
       a.navbar-brand(href='#') PUBLIC DISTRIBUTION SYSTEM   
    h1.text-center(style="color:black;text-decoration:underline;")   CUSTOMER DATA
    .container-fluid
      .row
        .col-lg-3
          if aadharno==null
              .card.border-dark.mb-2
                .card-header.text-center.font-weight-bold LOGIN
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/login/admin' style='color: black;') Admin Login
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/login/customer' style='color: black;') Customer Login
              .card.border-dark.mb-2
                .card-header.text-center.font-weight-bold REGISTRATION
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='adminregistration' style='color: black;') Admin Registration
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='registration' style='color: black;') Customer Registration
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='farmer' style='color: black;') Farmer Registration
              
          else   
            if type == 'admin' 
              .card.border-dark.mb-2
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/transaction' style='color: black;') Transaction
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='/admin/dashboard' style='color: black;') Dashboard
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/logout' style='color: black;') Logout
                    
            else
              .card.border-dark.mb-2
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='blockchain_transcation' style='color: black;') Blockchain Transactions
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/admin/dashboard/'+aadharno style='color: black;') Transactions
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/logout' style='color: black;') Logout

    
        .col-md-9
          .card-body
           
            table.table-sm.table-bordered.table-responsive-md.table.table-success.text-center
              thead
                  tr
                  th(scope='col') First Name
                  th(scope='col') Last Name
                  th(scope='col') Mobile No
                  th(scope='col') Country
                  th(scope='col') State
                  th(scope='col') City
                  th(scope='col') Address
                  th(scope='col') Zip
                  th(scope='col') Gender
                  th(scope='col') Email
                  th(scope='col') Aadhar No
                  th(scope='col') Transaction
              tbody
                  each val in customers
                    //- if val.data.aadharno == sess.aadharno
                    tr
                      td= val.data.fname
                      td= val.data.lname
                      td= val.data.mobileno
                      td= val.data.country
                      td= val.data.state
                      td= val.data.city
                      td= val.data.address
                      td= val.data.zip
                      td= val.data.gender
                      td= val.data.email
                      td= val.data.aadharno
                      td  
                        a.btn.btn-primary(href='/admin/dashboard/'+val.data.aadharno) Check


    footer.footer.mt-auto.py-3
          .container
            span.text-muted © Event Organiser 2020 All Rights are Reserved Design by PANDA Group OF JDANS.
