doctype html
html(lang='en')
  head
    title PANDA T
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark(style="background:rgb(5, 57, 61);")
      a.navbar-brand(href='#') PUBLIC DISTRIBUTION SYSTEM
    br
    h1.text-center(style="color:black;text-decoration:underline;") Transactions
  .container-fluid
    .row
        .col-lg-3
          if aadharno==null
              .card.border-dark.mb-2
                .card-header.text-center.font-weight-bold LOGIN
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/login/admin' style='color: black;') Admin Login
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/login/customer' style='color: black;') Customer Login
              .card.border-dark.mb-2
                .card-header.text-center.font-weight-bold REGISTRATION
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='adminregistration' style='color: black;') Admin Registration
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='registration' style='color: black;') Customer Registration
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='farmer' style='color: black;') Farmer Registration
              
          else   
            if type == 'admin' 
              .card.border-dark.mb-2
                ul.list-group.list-group-flush
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/transaction' style='color: black;') Transaction
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/admin/dashboard' style='color: black;') Dashboard
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/logout' style='color: black;') Logout
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='farmer_trans' style='color: black;') Farmer Transaction
              //- .card.border-dark.mb-2
              //-   .card-header.text-center.font-weight-bold CHECK
              //-   ul.list-group.list-group-flush
              //-   li.list-group-item
              //-       a.card-link.btn.d-block.btn-outline-info(href='government_emp' style='color: black;') Government Employee
              //-   li.list-group-item
              //-       a.card-link.btn.d-block.btn-outline-info(href='blockchain_transcation' style='color: black;') Blockchain Transactions
            else
              .card.border-dark.mb-2
                ul.list-group.list-group-flush
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='blockchain_transcation' style='color: black;') Blockchain Transactions
                //- li.list-group-item
                //-     a.card-link.btn.d-block.btn-outline-info(href='/admin/dashboard/'+aadharno style='color: black;') Transactions
                li.list-group-item
                    a.card-link.btn.d-block.btn-outline-info(href='/logout' style='color: black;') Logout
        .col-lg-9
           .card-body
            table.table-bordered.table-responsive-md.table.table-success.text-center
                thead
                    tr
                    th(scope='col') Shop ID
                    th(scope='col') Cus Id
                    th(scope='col') Product 1
                    th(scope='col') Product 2
                    th(scope='col') Product 3
                    th(scope='col') Price
                    th(scope='col') Date/Time
                    
                tbody
                    each val in transactions
                        if val.data.cus_id == aadharno
                            tr
                                td= val.data.shop_id
                                td= val.data.cus_id
                                td= val.data.rice
                                td= val.data.wheet
                                td= val.data.sugar
                                td= '₹ '+String((Number(val.data.rate_rice)*Number(val.data.rice))+(Number(val.data.rate_wheet)*Number(val.data.wheet))+(Number(val.data.rate_sugar)*Number(val.data.sugar)))+'/-'
                                td= val.timestamp
            
  footer.footer.mt-auto.py-4
     .container
          span.text-muted © Event Organiser 2020 All Rights are Reserved Design by PANDA Group OF JDANS.